/* @import "shadcn/tailwind.css"; */
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 2% 80%;
    --foreground: 0 0% 9%;
    --card: 0 2% 92%;
    --card-foreground: 0 0% 9%;
    --popover: 0 2% 94%;
    --popover-foreground: 0 0% 9%;
    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 99%;
    --secondary: 0 2% 86%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 2% 86%;
    --muted-foreground: 0 2% 32%;
    --accent: 0 2% 86%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84% 60%;
    --border: 0 2% 68%;
    --input: 0 2% 68%;
    --ring: 0 0% 45%;
    --chart-1: 200 70% 50%;
    --chart-2: 200 70% 50%;
    --chart-3: 200 70% 50%;
    --chart-4: 200 70% 50%;
    --chart-5: 200 70% 50%;
    --radius: 0.625rem;
    --sidebar: 0 2% 90%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 0 0% 13%;
    --sidebar-primary-foreground: 0 0% 99%;
    --sidebar-accent: 0 2% 82%;
    --sidebar-accent-foreground: 0 0% 13%;
    --sidebar-border: 0 2% 68%;
    --sidebar-ring: 0 0% 45%;
  }
  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 99%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 99%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 99%;
    --primary: 0 0% 53%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 99%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 99%;
    --destructive: 0 84% 55%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 0 0% 35%;
    --chart-1: 200 70% 50%;
    --chart-2: 200 70% 50%;
    --chart-3: 200 70% 50%;
    --chart-4: 200 70% 50%;
    --chart-5: 200 70% 50%;
    --sidebar: 0 0% 13%;
    --sidebar-foreground: 0 0% 99%;
    --sidebar-primary: 200 70% 50%;
    --sidebar-primary-foreground: 0 0% 99%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 99%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 0 0% 35%;
  }
  /* .theme {
    --font-sans: 'Geist Variable', sans-serif;
  } */
  * {
    @apply border-border ring-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

[data-sonner-toast] {
  @apply font-sans;
}

[data-sonner-toast] [data-close-button] {
  left: auto !important;
  right: 8px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}